<div class="row">

  <ng-template [ngIf]="sellOrRentRoute == 1">
    <div *ngFor="let rentProperty of buyProperties" class="shadow-lg col-sm-4 p-3">
      <app-product-card [property]="rentProperty"></app-product-card>
    </div>
  </ng-template>

  <ng-template [ngIf]="sellOrRentRoute == 2">
    <div *ngFor="let rentProperty of rentProperties" class="shadow-lg col-sm-4 p-3">
      <app-product-card [property]="rentProperty"></app-product-card>
    </div>
  </ng-template>

  <!-- <div *ngFor="let property of allProperties" class="shadow-lg col-sm-4 p-3">
    <app-product-card [property]="property"></app-product-card>
  </div> -->
</div>
