<div class="row pt-5">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      LIST YOUR NEW SCI-FI PRODUCT HERE!
    </div>
  <!-- ABOUT FORM VALIDATION: https://angular.io/guide/form-validation -->
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #Form="ngForm">

        <div class="tab-panel">
          <tabset #formTabs>

            <!-- TAB 1 -->
            <tab heading="Core Product Information" id="tab1" ngModelGroup="BasicInfo" #BasicInfo="ngModelGroup">
              <div class="form-group col-12 mt-2 mb-3">
                <label for="name">Product Name</label>
                <input type="text" class="form-control mt-2" #propName="ngModel" ngModel name="Name" required minlength="5">
                <span *ngIf="!propName.valid && propName.touched" class="error-block">
                  <span *ngIf="propName.errors?.['required']"> Please enter a name for your product </span>
                  <span *ngIf="propName.errors?.['minlength']"> Name must be at least 5 character long </span>
                </span>
              </div>

              <!-- Below is the class used by ngx bootstrap to style the radio buttons -->
              <!-- <p>Product Category </p> -->
              <div class="btn-group" btnRadioGroup ngModel name="spaceshipOrRobot" required>
                <label class="btn btn-outline-primary me-2" btnRadio=1 role="button" name="spaceshipOrRobot">
                Spaceship
                </label>

                <label class="btn btn-outline-primary" btnRadio=2 role="button" name="spaceshipOrRobot">
                Robot
                </label>
              </div>

              <!--
              <div class="form-group col-12 mt-2">
                <label for="type">Product Type (Spaceship / Robot)</label>
                <input type="text" class="form-control" #propType="ngModel" ngModel name="Type" required>
                <span *ngIf="!propType.valid && propType.touched" class="error-block">
                  <span *ngIf="propType.errors?.['required']"> Please enter the type of product you want to add </span>
                </span>
              </div>
              -->

              <div class="form-group col-12 mt-2">
                <label for="price">Price (Imperial Credits)</label>
                <input type="number" class="form-control mt-2" ngModel name="Price" required (keypress)="onKeyPress($event)">
              </div>

              <div class="form-group col-12">
                <button type="button" class="btn btn-primary me-2 mt-2" (click)="selectTab(1)" [disabled]="!BasicInfo.valid">Next</button>
                <!-- me-2 at the end is for margin-end by 2, see https://getbootstrap.com/docs/5.0/utilities/spacing/ -->
                <!-- <button type="submit" class="btn btn-primary me-2 mt-2">Save</button>
                <button type="reset" class="btn btn-primary mt-2">reset</button> -->
              </div>
            </tab>

            <!-- TAB 2 -->
            <tab heading="Images">
              <div class="from-group col-12 mt-2">
                <!-- Not sure how to implement this, will have to research it -->
                <div class="photo-control">
                  <button class="mt-5" type="button">Upload Pictures</button> <br/>
                </div>
              </div>
              <div class="form-group col-12">
                <button type="button" class="btn btn-primary me-2 mt-2" (click)="selectTab(0)">Previous</button>
                <button type="button" class="btn btn-primary mt-2" (click)="selectTab(2)">Next</button>
              </div>
            </tab>

            <!-- TAB 3 -->
            <tab heading="Extra Product Details" ngModelGroup="ExtraInfo" #ExtraInfo="ngModelGroup">
              <div class="from-group col-12 mt-2">
                <label>Age of Product (Years)</label>
                <input type="number" class="form-control mt-2 mb-2"  #propAge="ngModel" ngModel name="Age" required (keypress)="onKeyPress($event)">
                <span *ngIf="!propAge.valid && propAge.touched" class="error-block">
                  <span *ngIf="propAge.errors?.['required']"> Please enter your product's age</span>
                </span>
              </div>
              <div class="from-group col-12">
                <label>Product Description</label>
                <input type="text" class="form-control mt-2" #propDescription="ngModel" ngModel name="Description" required>
                <span *ngIf="!propDescription.valid && propDescription.touched" class="error-block">
                  <span *ngIf="propDescription.errors?.['required']"> Please enter a description for your product</span>
                </span>
              </div>
              <button type="button" class="btn btn-primary me-2 mt-2" (click)="selectTab(1)">Previous</button>
              <button type="submit" class="btn btn-primary me-2 mt-2" [disabled]="!ExtraInfo.valid || !BasicInfo.valid">Save Product</button>
              <button type="reset" class="btn btn-primary mt-2">reset</button>
            </tab>

          </tabset>
        </div>

      </form>
    </div>
  </div>
</div>
</div>

