.ng-invalid.ng-touched {
  border-color: red;
}

.error-block {
  color: red;
}

.row {
  margin-bottom: 65%;
}

.tab-panel {
  padding: 10px;
  /* border: 1px solid grey;
  border-radius: 4px; */
}

/* .tab-panel label {
  font-weight: bold;
} */

.photo-control {
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed grey;
  margin: 5px;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

#spaceshipOrRobotButton1 {
  border-radius: 4px;
}

#spaceshipOrRobotButton2 {
  border-radius: 4px;
}
