
<div class="row pt-5">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      REGISTER AN ACCOUNT
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName"
            [ngClass]="{'is-invalid':submitted && registrationForm.controls['userName'].errors}">
            <div *ngIf="registrationForm.controls['userName'].touched && registrationForm.controls['userName'].errors" class="text-danger">
              Your Username Must be Atleast 5 Character Long
            </div>
        </div>

        <div class="form-group col-12 mt-2">
          <label for="name" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid':submitted && registrationForm.controls['email'].errors}">
          <div *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].errors" class="text-danger">
            Incorrect Email Format
          </div>
        </div>

        <div class="form-group col-12 mt-2">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password"
          [ngClass]="{'is-invalid':submitted && registrationForm.controls['password'].errors}">
          <div *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].errors" class="text-danger">
            Your Password Must be Atleast 8 Character Long
          </div>
        </div>

        <!-- <div class="form-group col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div> -->

        <!-- <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword">
        </div> -->

        <div class="form-group col-12 mt-2">
          <button type="submit" class="btn btn-primary me-2">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>

         <!-- The pipe symbol allows us to convert from one type to another in templates. This code that I've now commented was to look at how the validity of the status changes depending on whether
          the input is acceptable as per the rules defined by the validators.
        Form Values: {{registrationForm.value | json}} <br/>
        Form Status: {{registrationForm.valid}} -->

      </form>
    </div>
  </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required>
            <span *ngIf="!propName.valid && propName.touched" class="error-block">
              <span *ngIf="propName.errors?.['required']"> Please enter a username for your account </span>
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" #propEmail="ngModel" ngModel name="Email" required>
          <span *ngIf="!propEmail.valid && propEmail.touched" class="error-block">
            <span *ngIf="propEmail.errors?.['required']"> Please enter an email for your account </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" #propPassword="ngModel" ngModel name="Password" required>
          <span *ngIf="!propPassword.valid && propPassword.touched" class="error-block">
            <span *ngIf="propPassword.errors?.['required']"> Please enter a password for your account </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" ngModel name="confirmPassword" required>
        </div>

        <div class="form-group col-12 mt-2">
          <button type="submit" class="btn btn-primary me-2">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
-->

