<!-- Going to need 2 columns here: One which displays pictures, and one which displays the properties of the product. Maybe add tabs if its too many properties for 1 page? -->
<div class="row shadow pt-3">
  <div class="col-sm-4 p-0">
    <div class="card">
      <img *ngIf="productToDisplay?.Image" img src="assets/images/{{productToDisplay.Image}}.PNG">
      <img *ngIf="!productToDisplay?.Image" img src="assets/images/default.PNG">
      <div class="card-body">
        <h1>{{productToDisplay.Name}}</h1>
      </div>
      <div class="card-footer">
        <div class="btn-group"> <!-- d-flex fills up the width of the column -->
          <button type="button" id="button1" class="btn btn-primary me-2">Like</button>
          <button type="button" id="button2" class="btn btn-success ms-2">Message Vendor</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5 p-0">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Product Information">
          <div class="heading ms-3 mt-2">
            <strong>PRODUCT AGE:</strong>
            <p>{{productToDisplay.Age}} Years Old</p>
          </div>
          <div class="heading ms-3 mt-2">
            <strong>PRODUCT TYPE:</strong>
            <p *ngIf="productToDisplay?.SpaceshipOrRobot == 1">Spaceship</p>
            <p *ngIf="productToDisplay?.SpaceshipOrRobot == 2">Robot</p>
          </div>
          <div class="heading ms-3 mt-2 me-4">
            <strong>PRODUCT DESCRIPTION:</strong>
            <p>{{productToDisplay.Description}}</p>
          </div>
        </tab>
        <tab heading="More Pictures">

        </tab>
      </tabset>
    </div>

    <!-- <div class="card-body-second-tab ms-3">
      <h1>ye</h1>
      <h1>{{product?.Name}}</h1>

      <h2>{{product?.Price}} Credits</h2>
    </div> -->

  </div>
</div>
