<!-- Going to need 2 columns here: One which displays pictures, and one which displays the properties of the product. Maybe add tabs if its too many properties for 1 page? -->
<div class="row shadow pt-3">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/default.PNG">
      </div>
      <div class="card-body">
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex"> <!-- d-flex fills up the width of the column -->
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Product Information">

        </tab>
        <tab heading="More Pictures">

        </tab>
      </tabset>
    </div>
  </div>
</div>
