<div class="row pt-5">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        LOGIN
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

          <div class="form-group col-12">
            <label>Name</label>
            <input class="form-control mt-2" required ngModel name="userName">
          </div>

          <div class="form-group col-12 mt-2">
            <label>Password</label>
            <input class="form-control mt-2" required type="password" ngModel name="password">
          </div>

          <div class="form-group col-12 mt-2">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary me-2">Login</button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
